/*YOUR CUSTOM STYLES*/

.navmenu ul{
	position:relative;
	list-style-type:none;
	padding:0;
	margin:0;
}

.navmenu ul li{
	display:inline-block;
	color:#333333;
}

.navmenu ul li:hover:not(.active) {
	background-color:#404040;
}

.navmenu ul li a,visited{
	color:#CCCCCC;
	display:block;
	padding:15px;
	text-decoration:none;
}

.navmenu ul li a:hover{
	color:#CCCCCC;
	text-decoration:none;
}

.navmenu ul li:hover ul{
	display:block;
	background-color:#333333;
}

.navmenu ul ul{
	display:none;
	position:absolute;
	z-index:2;
}

.navmenu ul ul li{
	display:block;
}

.navmenu ul ul li a,visited{
	color:#CCCCCC;
}

.navmenu ul ul li a:hover{
	background-color:#2a8fbd;
}

#multicol{
	display:inline-block;
	width:200px;
}

#multicoloffer{
	display:inline-block;
	width:250px;
	height:80px;
	overflow: hidden;
}

#multicoloffer a:hover{
	width:250px;
	height:80px;
	overflow:hidden;
	background-color:#2a8fbd;
}

#col-3-menu-store{
	width:760px;
}
#col-2-menu-offer{
	width:510px;
}

#col-3-menu{
	width:610px;
}

#col-2-menu{
	width:410px;
}

#offermenuicon{
	height:50px;
	width:50px;
	margin-left:2px;
	margin-bottom: 2px;
	margin-right:2px;
	margin-top: 0px;
}
#offermenudata{
	height:60px;
	width:180px;
	position:absolute;
	overflow: hidden;
	margin-left:2px;
	margin-bottom: 2px;
	margin-right:2px;
	margin-top: 0px;
}

.active{
	background-color:#2a8fbd;
}